@charset "uth-8";

/* font-family: 'Noto Sans KR', sans-serif;
 */

/* css초기화 */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header_wrap {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 200px;
  height: 30px;
  padding: 10px 0;
  margin-left: 30px;
}
#logo img {
  width: 200px;
  height: 30px;
}
#company_name {
  font-size: 1vw;
  font-weight: bold;
  line-height: 50px;
}

#header_wrap_right {
  width: 30%;
}

#administrator_wrap {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#administrator_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
  border: 1px solid;
  text-align: center;
}

#administrator_img img {
  width: 30px;
  height: 33px;
display: inline-block;
}
#administrator_name_wrap {
  height: 50px;
}
#administrator_name {
  line-height: 25px;
}
#administrator_administrator {
  line-height: 25px;
  font-size: 10px;
  text-align: center;
  color: lightgray;
}
#language_selector {
  width: 130px;
  margin: auto 10px;
  font-size: 16px;
}

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: aquamarine;
}
nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  margin: 15px;
  font-size: 14px;
}

.chosenav {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

#main_wrap {
  width: 100%;
  height: 780px;
  display: flex;
}
#menu_bar {
  width: 10%;
  height: 100%;
  font-size: 14px;
  transition: 0.5s;
}
#menu_bar a {
  text-decoration: none;
}
#menu_bar > ul {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
#menu_bar > ul > li {
  color: rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}

#menu_bar > ul > li:last-child {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}

#menu_bar > ul > li:nth-child(3) ~ li {
  border-bottom: none;
}

#menu_bar > ul > li > a {
  color: rgba(0, 0, 0, 0.6);
}
#menu_bar > ul > li > ul {
  margin-top: 5px;
  padding-left: 12px;
  display: none;
}
#menu_bar > ul > li > ul > li > a {
  color: rgba(0, 0, 0, 0.6);
}
#menu_bar > ul > li:hover > a {
  font-size: 16px;
  color: orange;
}
.fa-chevron-right {
  transform: 1s;
}
#main_section {
  width: 90%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.section_padding {
  padding: 20px !important;
}
#search_wrap {
  width: 100%;
  border: 1px solid lightgray;
  padding: 15px 5px;
  height: 120px;
  margin-bottom: 5px;
}
.search_menu {
  width: 250px;
  height: 30px;
  float: left;
  margin: 5px;
  box-sizing: border-box;
}
.search_menu .form-control {
  font-size: 10px;
}
#seatch_mark_wrap {
  display: flex;
}
#search_mark1 {
  background-color: orange;
  margin-right: 5px;
}

#tablecaption_wrap {
  width: 100%;
  height: 30px;
}
#table_selector {
  width: 100px;
  height: 30px;
  float: right;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 1px solid lightgray;
  padding: 3px;
  box-sizing: border-box;
}
th {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-weight: 300;
}

.form-select {
  font-size: 10px;
}

tr th:first-child {
  text-align: center;
}
tr td:first-child {
  text-align: center;
}
tbody tr:nth-child(2n-1) {
  background-color: rgba(0, 0, 0, 0.1);
}
#page_number {
  width: 30px;
  height: 35px;
  background-color: blue;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: auto;
  margin-top: 5px;
}
#page_number a {
  width: 30px;
  height: 35px;
  color: #fff;
}
#table_btn_wrap {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
#table_btn_left_wrap {
  display: flex;
}
#table_btn_right_wrap {
  display: flex;
}
.markwrap {
  background-color: red;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding-top: 2px;
}
#mark1 {
  margin-right: 5px;
}
#mark3 {
  margin-right: 5px;
  background-color: green;
}
#mark4 {
  background-color: blue;
}

/* 2페이지 */
#main_left_wrap {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}

#main_left_wrap label {
  margin-top: 20px;
  margin-bottom: 8px;
}

#main_right_wrap {
  float: right;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 230px;
}

#main_right_wrap label {
  margin-top: 20px;
  margin-bottom: 8px;
}

#form_select_use {
  font-size: 14px;
}
#table_btn_right_wrap button {
  background-color: transparent;
}
footer {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}
#footer_info span::after {
  margin: 0 5px;
  content: "|";
}
#footer_info span:last-child::after {
  content: "";
}
footer p {
  font-size: 14px;
  color: lightgray;
}
#mark1_1 {
  margin-left: 10px;
  background-color: gray;
}
#mark1_2 {
  margin-right: 10px;
  background-color: green;
}
.star::after {
  content: "*";
  color: orange;
}
